<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Users/Arah625 - GitHub/RabbitMQ/QueueTests">
        <classes>
            <class name="RabbitMQ.Tests.QueueTests"/>
        </classes>
    </test>
</suite>